{% extends './layout.html' %}

{% block main %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script type="text/javascript" src="/public/js/wangEditor.min.js"></script>

<ol class="breadcrumb">
    <li><a href="/">管理首页</a></li>
    <li><span>添加文章</span></li>
</ol>

<h3>添加文章</h3>

<form role="form" method="post">
    <div class="form-group">
        <label for="category">分类：</label>
        <select name="category" id="category" class="form-control">
            {% for category in categories %}
            <option value="{{category.id}}">{{category.name}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="title">标题：</label>
        <input name="title" type="text" class="form-control" id="title" placeholder="请输入标题">
    </div>

    <div class="form-group">
        <label for="description">简介：</label>
        <textarea name="description" id="description" cols="30" rows="5"
                  class="form-control" placeholder="请输入简介"></textarea>
    </div>

    <div id="editor"></div>
    <p id="getText">获取内容</p>
    <textarea name="content" id="content" cols="30" rows="10"></textarea>

    <!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
    <script type="text/javascript">
        var E = window.wangEditor
        var editor = new E('#editor')
        // 或者 var editor = new E( document.getElementById('editor') )
        editor.create()
    </script>

    <div class="form-group">
        <label for="content1">内容：</label>
        <textarea name="content1" id="content1" cols="30" rows="10"
                  class="form-control" placeholder="请输入内容"></textarea>
    </div>

    <div class="form-group">
        <label for="content1">展示内容：</label>
        <div id="showContent"></div>
    </div>

    <button type="submit" class="btn btn-default">提交</button>
</form>

<script type="text/javascript">
    $('#content').on('input', function() {
        // console.log(this.value)
        $('#showContent').html(marked(this.value))
    })

    $('#getText').on('click', function() {
        console.log(editor.txt.html())
    })

    $('.btn').on('click', function() {
        $('#content').html(editor.txt.html())
        return true
    })
</script>

{% endblock %}
