<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>博客</title>
    <link rel="stylesheet" href="/public/css/main.css" type="text/css">
    <link rel="stylesheet" href="/public/fontAwesome/css/font-awesome..min.css" type="text/css">
</head>
<body>

<header>
    <div class="backimg"><img src="/public/images/IMG_0293.JPG"></div>
    <div class="logo"><span></span><img src="/public/images/00002637.png"></div>
</header>

<nav>
    <div class="menu">
        <a href="/" class="focus">首页</a>
        <a href="/?category={{cate.id}}" class="focus">{{cate.name}}</a>
    </div>
</nav>

<main class="clear">
    <div class="mainLeft">

    </div>

    <div class="mainRight">

    </div>
</main>

</body>
</html>