{% extends './layout.html' %}

{% block content %}

<script src="/public/js/xss.js"></script>
<script>
    // 使用函数名 filterXSS，用法一样
    // var html = filterXSS('<script>alert("xss");</scr' + 'ipt>');
    // alert(html);
</script>

<div class="listBox">
    <h1>{{content.title}}</h1>
    <p class="colDefault">
        作者：<span class="colInfo">{{content.user.username}}</span> -
        时间：<span class="colInfo">{{content.addTime | formattime}}</span> -
        阅读：<span class="colInfo">{{content.views}}</span> -
        评论：<span class="colInfo">{{content.comments.length}}</span>
    </p>
    <div style="display: none;">{{content.content}}</div>
    <script type="text/javascript">
        function decodeHTML (str){
            var s = "";
            if(str.length == 0) return "";
            s = str.replace(/&amp;/g,"&");
            s = s.replace(/&lt;/g,"<");
            s = s.replace(/&gt;/g,">");
            s = s.replace(/&nbsp;/g," ");
            s = s.replace(/&#39;/g,"\'");
            s = s.replace(/&quot;/g,"\"");
            return s;
        }
        var $content = $('.listBox div')
        var htmlStr = decodeHTML($content.html())
        var xssStr = filterXSS(htmlStr)
        // console.log(0, $content.html())
        // console.log(1, htmlStr)
        // console.log(2, xssStr)
        $content.html(xssStr).show()
    </script>
</div>

<div class="listBox message">
    <h3 class="textLeft"><strong>评论</strong> <span class="em">一共有 <em id="messageCount">0</em> 条评论</span></h3>

    {% if userInfo._id %}
    <p class="textLeft">zmouse</p>
    <p class="textLeft clear">
        <textarea id="messageContent"></textarea>
        <input type="hidden" id="contentId" value="{{content.id}}">
        <button id="messageBtn" class="submit">提交</button>
    </p>
    {% else %}
    <p class="bgDanger" style="line-height: 30px;">你还没有登录，请先登录！</p>
    {% endif %}

    <div class="messageList">
    </div>

    <div class="pager">
        <ul class="clear">
            <li class="previous">
                <a href="#">上一页</a>
            </li>
            <li></li>
            <li class="next">
                <a href="#">下一页</a>
            </li>
        </ul>
    </div>
</div>

<script src="/public/js/comment.js"></script>

{% endblock %}
